<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <!-- Fonts -->
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/096d0c019b.js" crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- Custom JavaScript -->
    <script type="text/javascript" src="/scripts/app.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>

  <body class="bg-dark">

    <!-- NAVIGATION -->
    <% include partials/_header %>
    <!-- END NAVIGATION -->

    <section class="restaurant-banner">
        <img class="cover-photo-url" src="https://images.pexels.com/photos/54455/cook-food-kitchen-eat-54455.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" width="1000" height="450">
    </section>
    <main class="d-flex justify-content-between px-5 py-3 text-light">
      <section class="menu-items mx-5 my-2">
        <!-- RENDER MENU ITEM -->
          <% for (let item of menu_items) { %>
            <!-- MENUT ITEM -->
            <article class="menu-item">
              <div class="d-flex justify-content-between">
                <h2 class=""><%= item.title  %></h2>
                <p class="lead"><%= item.price %></p>
              </div>
              <p><%= item.description %></p>
            </article>
            <% } %>
          <!-- END MENUT ITEM -->
      </section>
      <section class="order">
        <h2>Your Order</h2>
        <p>ORDER NUMBER = ASDFADFASDFG</p>
        <!-- ORDER FORM -->
        <form method="POST" action="/orders" class="my-2">
          <!-- EACH SELECTED MENU ITEM -->
          <div class="dp-flex justify-content-between">
              <label class="pr-2"></label>
              <input type="number" name="menu_item" min="0" max="100" step="1" size="2"><br>
          </div>
          <!-- END OF ITEM -->
          <!-- EACH SELECTED MENU ITEM -->
          <div class="dp-flex justify-content-between">
            <label class="pr-2"></label>
            <input type="number" name="menu_item_id" min="0" max="100" step="1" size="2"><br>
          </div>
        <!-- END OF ITEM -->
        <!-- EACH SELECTED MENU ITEM -->
        <div class="dp-flex justify-content-between">
          <label class="pr-2"></label>
          <input type="number" name="menu_item_id" min="0" max="100" step="1" size="2"><br>
        </div>
        <div class="dp-flex justify-content-between">
          <label class="pr-2"></label>
          <input type="number" name="menu_item_id" min="0" max="100" step="1" size="2"><br>
        </div>
        <!-- END OF ITEM -->
        <p>Your Total <span>$66</span></p>
        <p>Tax <span>6.66</span></p>
        <p>Your Total with Tax <span>72.66</span></p>
        <button type="submit"> Submit</button>
      </form>
      <p class="alert bg-danger text-center"> Your Order Has been Placed <br> Awaiting Confirmation</p>
    </section>
  </main>


  <footer class="text-light text-center">
    <p><small> FoodByte created By Herm, Arv, Dasha For Lighthouse Labs 2019</small></p>
  </footer>
</body>

</html>
