<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FoodByte - Owner Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <!-- Fonts -->
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/096d0c019b.js" crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- Custom JavaScript -->
    <script type="text/javascript" src="/scripts/app.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body class="bg-info">
<main class="">

  <!-- <section class="log-in mr-4 w-75 text-center"> -->
    <h2 class="text-light border border-bottom">FoodByte</h2>

    <h1 class="text-light text-center w-100">How long will this order take?</h1>
      <form method="POST" action="/confirm/<%= id %>" class="w-50 m-auto">
          <div class="form-group row w-75 m-auto">
              <h5 class="text-light text-center mx-auto mb-2">Please set order duration (in minutes)</h5>
              <input class="form-control" type="number" name="time" value="0" id="time" min="0">

            <div class="">
                <button type="submit" class="btn btn-light text-center mt-3">Submit</button>
            </div>

          </div>

      </form>
      <div class="m-auto text-center mt-2"> <img src="https://i.chzbgr.com/full/7841633024/h5617C2DA/i-came-in-like-a-chain-chomp" alt=""></div>

  <!-- </section> -->
</main>
  </body>
</html>
