// See: https://sass-lang.com/

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}
 .blue{
  color: #18A2B8 !important;
}
.jumbotron{
  padding: 40%;
}
.bg-dark{
  background-color: black !important;
}
.welcome{
  background-image: url(https://images.unsplash.com/photo-1542365887-1149961dccc7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80) !important;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.restaurant-box{
  width:100%;
}
.restaurant {
  width: 90%;
  margin: auto;
  border: 5px solid black;

}
.rest-description{
  // width: 50%;
  text-align: center;

}
.rest-description a {
  color: black !important;
}
.restaurant-slideshow {
  // width: 50%;
  height: 250px;
}
.map-box{
  width: 100%;
}
#map {
  height: 700px;
  width: 100%
}
footer {
  // position: fixed;
  // bottom: 0;
  width: 100%;
  padding: 2px 0;
  background-color:black;
  z-index: 1000;
}
.header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}
.header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.header > .container {
  position: relative;
  z-index: 2;
}
.header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

#restaurants {
  margin-bottom: 3%;
}
.restaurant {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  overflow: hidden;
  border-radius: 10px;
}
.restaurant-slideshow{
 overflow: hidden;
}
//LOGIN PAGE

.random-image{
  width: 200px;
  height: 200px;
  background-color: green;
  border: 2px solid black;
  border-radius: 35%;
}
.image-randomizer{
  width: 50%;
}
.log-in{
  width: 50%;
}
label {
  color: white;
}
.login-main{
  width: 80%;
}

// .carousel-inner{
//   width:100%;
//   height: inherit;
//   // max-height: 300px !important;
// }
// .slide {
//   width: 100%;
// }

.carousel-inner {
  height: 350px;
}

.carousel-item * img{
    min-height: 300px;
    width: auto;
}

//ORDERS EJS
.menu-item{
  padding: 2%;
  margin: 2% 0 !important;
  cursor: pointer;
}
.menu-item:hover{
  background-color: #183438 !important;
}

.menu-items , .order {
  width: 50%;
}

.ord-item label {
  font-size: 1.2em;
}
.item-description{
  font-size: 1.2em;
}
.item-title{
  width: 50% !important;
}
.item-price {
  width: 50%;
}
.alert {
  width: 50%;
}
.order-btn {
  font-size: 1.1em;
}

.order-title{
  border-bottom: 2px solid white;
}
.line{
  font-size: 1.2em;
  border-bottom: 2px solid white;
}
// =================MEDIA QUERIES
@media (pointer: coarse) and (hover: none) {
  .header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  .header video {
    display: none;
  }
}

@media only screen and (min-width: 1050px) {
  .map-box{
    width: 60%;
    float: right;
  }
  .restaurant-box{
    width:40%;
    float: left;
  }
}
